.container {
  display: block;
  background: linear-gradient(86deg, rgb(247 156 29) 0%, rgb(252 189 28) 80%);
  color: white;
  position: relative;
  max-width: 900px;
  margin: auto;

  &:before {
    content: '';
    background-image: var(--action-background-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.questionContainer {
  margin-left: 200px;
  padding: 20px 0;
  z-index: 2;
  position: relative;
}

.question {
  padding-right: 120px;
}

.countdown {
  position: absolute;
  right: 20px;
  top: 20px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
}

.answer {
  margin-right: 30px;
}

.button {
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
  font-size: 22px;
  border: 0;
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #028259;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}