body {
  margin: 0;
  padding: 0;
  display: flex;
  background: black;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
}

p, h1, h2, h3, ul, li, button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

main {
  width: 100vw;
}

.player {
  .bmpui-ui-playbacktoggle-overlay {
    display: none;
  }

  .bmpui-ui-controlbar {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }

  .bmpui-ui-volumetogglebutton {
    background-color: rgb(3 199 3 / 75%);
    border-radius: 50%;
    opacity: 0.8;
  }
}

.playerControls {
  transition: opacity 0.3s;
  opacity: 0;
}

.showControls {
  .bmpui-ui-controlbar, .playerControls {
    opacity: 1;
  }
}

.bmpui-ui-hugeplaybacktogglebutton {
  opacity: 0;
}