.playerWrapper {
  display: inline-block;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
  }

  :global(.bmpui-ui-watermark) {
    display: none;
  }
}

.playerControls {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  height: 100px;
  left: 0;
  right: 0;
  pointer-events: none;
  display: none;
}

.customButton {
  background-image: url('/images/thumbs-up.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  bottom: 16px;
  position: absolute;
  right: 80px;
  width: 32px;
  height: 32px;
  transition: opacity .2s;
  pointer-events: all;
  cursor: pointer;
  z-index: 1;
}

.hasControls {
  .bmpui-ui-playbacktoggle-overlay,
  .bmpui-ui-controlbar,
  .playerControls {
    display: block;
  }
}