body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: contents;
}

.player .bmpui-ui-hugeplaybacktogglebutton {
  display: none;
}

.player .bmpui-ui-controlbar {
  opacity: 0;
}

.player .bmpui-ui-playbacktogglebutton {
  background-image: url('./images/play.png');
}

.showControls .bmpui-ui-controlbar {
  opacity: 1;
}

.bmpui-ui-watermark {
  display: none;
}


